/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    background-color:#EDF2F4;
    color: #2B2D42;
    font-family: system-ui, -apple-system, -apple-system-font, 'Segoe UI', 'Roboto', sans-serif;
    font-size:12px;
    height:100vh;
    margin:0px;
    padding:0px;
    /* Padding to avoid the "unsafe" areas behind notches in the screen */
    padding: env(safe-area-inset-top, 0px) env(safe-area-inset-right, 0px) env(safe-area-inset-bottom, 0px) env(safe-area-inset-left, 0px);
    text-transform:uppercase;
    width:100%;
}

#top-menu {
    color:#EDF2F4;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #0080FF; /* Light grey background */
    position: absolute;
    width: 90vw;
    left: 50%;
    transform: translate(-50%, 0);
    top: 1%;
    border-radius: .7rem;
}

#back-arrow, #logout {
    background: none;
    border: none;
    cursor: pointer;
}


#back-arrow, #logout {
    width: 1.5rem; /* Adjust based on your image's size */
    height: auto;
}


#title {
    text-align: center;
    font-size: 20px; /* Adjust size as needed */
}

/* Adjusts for a more app-like appearance */
body, html {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;/* Use your preferred font */
}

.screen {
    padding: 20px;
    height: 80vh;
    position: absolute;
    left: 50%;
    transform: translate(-50% ,0);
    width: 85vw;
    bottom: 0;
}




#logo {
    width: 70%;
    height: auto;
    left: 0%;
    position: absolute;
    transform: translate(35%, 0);
}










button {
    appearance: none;
    background-color: #0080FF;
    border-radius: 1rem;
    border: transparent;
    color: #EDF2F4;
    cursor: pointer;
    align-self: center;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1;

    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    text-align: center;
    &:hover,
        &:focus {
        color: #EDF2F4;
        outline: 0;
    }
    transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
    &:hover, &:focus   {
    box-shadow: 0 0 40px 40px #0080FF inset;
  }
  }
  




.main-button {
    position: absolute;
    width: 90%;
    height: 15%;
    left: 50%;
    transform: translate(-50%, 0);
    text-align: center;
    font-size: 2.3rem;
    font-weight: 800;
}


#wordlists-button {
    bottom: 2%;
}


#play-button {
    bottom: 19%;
}





#current_word {
    font-size: 2.3rem;
    font-weight: 800;
    text-align: center;
}




#pass_word {
    position: absolute;
    width: 70%;
    height: 15%;
    bottom: 2%;
    left: 15%;
}


#find_word {
    position: absolute;
    width: 70%;
    height: 15%;
    bottom: 19%;
    left: 15%;
}

#continue {
    position: absolute;
    width: 70%;
    height: 15%;
    bottom: 36%;
    left: 15%;
}

#points {
    position: absolute;
    text-align: center;
    font-size: .8rem;
    width: 100vw;
    bottom: 36%;
    left: 50%;
    transform: translate(-50%, 0);
}

#current_team {
    position: absolute;
    text-align: center;
    font-size: 1rem;
    bottom: 43%;
    left: 50%;
    transform: translate(-50%, 0);
}



#timer {
    position: absolute;
    text-align: center;
    font-size: 2rem;
    width: 100vw;
    bottom: 60%;
    left: 50%;
    transform: translate(-50%, 0);
}







form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    gap: 10px;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1;
}



input {
    appearance: none;
    border: transparent;
    border-radius: .3rem;
    cursor: pointer;
    align-self: center;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    padding-right: 1%;
    padding-left: 1%;
    background-color: #2B2D42;
    color: #EDF2F4;
}

.btn {
    height: 2.5rem;
    width: 10rem;
}


.switch_button {
    position: absolute;
    text-align: center;
    font-size: 1rem;
    width: 100vw;
    bottom: 2%;
    left: 50%;
    transform: translate(-50%, 0);
    cursor: pointer;
}



#add-wordlist-button {
    position: absolute;
    text-align: center;
    font-size: 1rem;
    bottom: 2%;
    right: 2%;
    cursor: pointer;
    background-color: transparent;
    color:#EDF2F4;
    fill: #0080FF;
    background-color:#2B2D42;
    border-radius: .7rem;
    padding-left: 7%;
    padding-right: 7%;
}

.add_wordlist_text {
    font-weight: bold;
    color:#EDF2F4;
}





.button_icon {
    height: 100%;
    width: 100%;
}

#wordlists-screen {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
    gap: 10px;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1;
}

.wordlist_element {
    border-radius: 1rem;
    height: 3.5rem;
    width: 90vw;
    background-color: #2B2D42;
}

.selected {
    background-color: #0080FF;
    color: #EDF2F4;
}




.button_panel {
    display: flex;
    justify-content: space-evenly;
    height: 2rem;
    width: 100%;

    

}


.panel_button {
    height: 100%;
    border-radius: .3rem;
    width: 49%;
}

#edit-wordlist-form {
    gap: 0px;
}


#change_title {
    background-color: #0080FF;
    margin: .5%;
    border-radius: .3rem;
    display: flex;
    flex-direction: column;
    width: 99%;
    gap:.6rem;

}

#title_title {
    text-align: center;
    margin-top: 3%;
    color:#EDF2F4;
}


#edit-wordlist-settitle {
    margin-bottom: 3%;
    background-color: #2B2D42;
    color: #EDF2F4;
    border-radius: .3rem;
    width: 60%;
    height: 1.5rem;
}

#edit_words {
    background-color: #0080FF;
    border-radius: .3rem;
    display: flex;
    flex-direction: column;
    width: 99%;
    gap:.6rem;

}


#words_title {
    text-align: center;
    margin-top: 3%;
    color:#EDF2F4;
}



#edit-wordlist-add {
    margin-bottom: 3%;
    background-color: #2B2D42;
    color: #EDF2F4;
    border-radius: .3rem;
    width: 60%;
    height: 1.5rem;
    text-transform: uppercase;
    font-weight: bold;
}




.worditem {
    color:#EDF2F4;
    margin-bottom: 2%;
}


.worditem_delete_button {
    background-color: #2B2D42;
    color: #EDF2F4;
    border-radius: .3rem;
}





/* Portrait layout (default) */
.app {
    position:absolute;             /* position in the center of the screen */
    left:50%;
    top:50%;
    height:50px;                   /* text area height */
    width:225px;                   /* text area width */
    text-align:center;
    padding:180px 0px 0px 0px;     /* image height is 200px (bottom 20px are overlapped with text) */
    margin:-115px 0px 0px -112px;  /* offset vertical: half of image height and text area height */
                                   /* offset horizontal: half of text area width */
}

/* Landscape layout (with min-width) */
@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
    .app {
        background-position:left center;
        padding:75px 0px 75px 170px;  /* padding-top + padding-bottom + text area = image height */
        margin:-90px 0px 0px -198px;  /* offset vertical: half of image height */
                                      /* offset horizontal: half of image width and text area width */
    }
}

h1 {
    font-size:24px;
    font-weight:normal;
    margin:0px;
    overflow:visible;
    padding:0px;
    text-align:center;
}

.event {
    border-radius:4px;
    color:#FFFFFF;
    font-size:12px;
    margin:0px 30px;
    padding:2px 0px;
}

@keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}

.blink {
    animation:fade 3000ms infinite;
    -webkit-animation:fade 3000ms infinite;
}


.loader{
    margin: 0 0 2em;
    height: 100px;
    width: 20%;
    text-align: center;
    padding: 1em;
    margin: 0 auto 1em;
    left: 50%;
    top: 50%;
  }
  svg path,
  svg rect{
    fill: #0080FF;
  }